@font-face {
    font-family: 'MiFuente';
    src: url(https://eze323.github.io/ezequielirace/BebasNeue-Regular.ttf);
    }

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,100italic,300italic);


html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100%;
    position: relative;
}

body{width: 100%;
    height: 100%;
    background-color: beige;
    font-family: 'MiFuente','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1{
    font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
}

.fp-video, .ft-art, .menu-item {
    display: inline-block;
}
h1,h2,h3,h4,h5,figure,ul {
    margin: 0;
}

a{
    color: #0BC5D8;
}
a:hover{
    color: #EA6E39;
}
a:visited{
    color: #AAAAAA;
}
a:active{
    color: #FF0000;
}
/* Ancho de la página */


.contenedor{
    max-width: 1024px;
    margin: 0 auto;
}

/* logo */

.logo{
    margin: 25px;
    text-align: center;

}

/* Posición y estilos del menú de navegación */

nav{
    background-color: #2E353E;
    text-align: center;
}

.menu-item{
    text-transform: uppercase;
}
.menu-item a div{
    padding: 20px;
}
.menu-item a{
    text-decoration: none;
    color: #fff;
}
.menu-item :hover{
    background-color: #0BC5D8;
}

/* Estilos de la sección "featured" */

.featured{
    background-color: #F2F2F2;
}

.fp-video{
    width: 55%;
    padding: 2em;
}

.ft-art{
    width: 30%;
    padding: 2em;
    vertical-align: top;
}

/* Estilo para los botones */


.boton-container{
    text-align: center;
    background-color: #EA6E39;
    margin: 0 auto;
}
.boton-container a{
    text-decoration: none;
    color: #fff;
}
.boton-container :hover{
    background-color: #1FBEA4;
}
.boton{
    padding: 15px;
}

/* Estilo para los artículos */

article{
    padding: 30px;
    background-color: #F2F2F2;
    margin: 20px 0;
}
.art-image{
    display: inline-block;
    width: 210px;
    margin-right: 10px;
}
.art-cont{
    display: inline-block;
    width: 740px;
    vertical-align: top;
}

figcaption{
    background-color: #1FBEA4;
    color: #fff;
    text-align: center;
    padding: 5px;
}
article h1{
    border-bottom: solid thin black;
}


.ventana-login h2{
    display: block;
    width: 100%;
    text-align: center;
    color: #d3e9e9;
}

.ventana-login{
    margin: 20px;
    min-width:300px ;
    min-height: 200px;;
    width: 80%;
    height: 60%;
    border: 5px solid rgb(30, 144, 255) ;
    background-color:#3d5860;
    align-content: center;
    margin: auto;
    box-shadow:#3d5860 5px 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.ventana-login form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 86%;
    margin: auto;
    color:#fff;
}

.ventana-login input{
    display: block;
    width: 90%;
    margin: 18px 5%;
    box-sizing: border-box;
    padding: 8px;
    background: transparent;
    color: #d3e9e9;

}
.ventana-login input:hover{
    color: darkorange;
}

.ventana-login input:hover::placeholder{
    color: darkorange;
    
}

.ventana-login input::placeholder{
    color: #d3e9e9;
}

.ventana-login input[type="submit"]{
 width: 60%;
 padding: 15px;   
}
.resultado{
    width: 90%;
    margin: auto;
}
.green{
    color:#9c9;
}

.red{
    color:#c99;
}


#mapa,#app{
    float: left;
    background-color: #ffe4c4;
}


#mapa div{
    background-color: aliceblue;

    /*font-family: 'MiFuente','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    border: 3px solid #add8e6;
    width: 50px;
    float: left;
    text-align: center;
    margin: 1px;
    padding: 10px;
    
}
#app ul{padding: 0px;}
#app ul li{
    background-color: aliceblue;

    /*font-family: 'MiFuente','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    border: 3px solid #add8e6;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    margin: 1px;
    padding: 10px;
    list-style: none;
    
    
}
#app ul li:hover{
    box-shadow: 0px 0px 30px #317124;
    border-radius: 15px;
    background-color: #d6e7ed;
} 

@media all and (min-width: 360px) and (max-width: 768px){
#app ul li{
   width: 17.2%;;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    #app ul li{
    width:8%;
        
    }
}

#mapa div:hover{
    box-shadow: 0px 0px 30px #317124;
    border-radius: 15px;
    background-color: #d6e7ed;
}

#footer{    
    font-size: 25px;
    text-align: center;
    float: left;
    width: 100%;
    min-height: 50px;
    background-color: darkorange;
    font-style: italic;
}

#detalles{
    display: none;
    background-color: beige;
    width: 100px;
    height: 200px;
    float:left;

}

.detall{
    font-size: 20px;
    float: left;
    width: 25%;
}

/* Estilos para el Footer */

footer{
    background-color: #2E353E;
    color: #fff;
    clear: both;
    line-height: 30px;
    text-align: center;
    padding: 45px;
}


